.catalog-container{
    background-color: #f2f4f5;
    text-align: center;
}
.catalog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    gap: 20px;
}
.catalog-container h1{
    padding: 30px;
}
.catalog-image{
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.listing{
    background-color: white;
    border-radius: 20px;
    display: flex;
    height: 100%;
    max-width: 300px;
    flex-direction: column;
}
.information-Container{
    text-align: left;
    padding-top:30px;
    padding-left: 20px;
    font-weight: lighter;
}
.listing-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: lighter;
}
.price{
  font-weight: bold;
    padding: 10px;
    padding-left: 0px;
}
.button-holder .button{
    display: flex;
    flex-direction: column;
}
.catalog-container {
    background-color: #f2f4f5;
    text-align: center;
}

.sort{
    margin-bottom: 20px;
    background-color: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 3em;
    text-align: left;
    border-radius: 5px;
}

.sortSelector{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 3%;
    border-radius: 10px;
    padding: 5px;
}
.catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    gap: 20px;
}

.catalog-container h1 {
    padding: 30px;
}

.catalog-image {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.listing {
    background-color: white;
    border-radius: 20px;
    display: flex;
    height: 100%;
    max-width: 300px;
    flex-direction: column;
}

.information-Container {
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
    font-weight: lighter;
}

.listing-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: lighter;
}

.price {
    font-weight: bold;
    padding: 10px;
    padding-left: 0px;
}

.button-holder .button {
    display: flex;
    flex-direction: column;
}

.button-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
}

.no-products {
    text-align: center;
    margin-top: 20px;
}
