.details-container{
    margin-top: 3%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    gap:1%;
    flex-wrap: wrap;
}
.main-column{
    width:55%;
    padding-bottom: 3%;
}
.details-container .images{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    height: 30em;
}
.details-container .images img{
    padding-bottom: 20px;
    padding-top: 20px;
    max-height: 100%;
    width: auto;
    max-width: 100%;

}
#description{
    margin-top:2%;
    padding: 2%;
    background-color: white;
    border-radius: 20px;
}
.secondary-column{
    width:30%;
    display: flex;
    flex-direction: column;
    gap:3%;
    padding-bottom: 3%;
}

.main-information{
    display:flex;
    flex-direction: column;
    gap:20px;
    background-color: white;
    border-radius: 20px;
    padding:3%;
    width: 100%;
}
.main-information .title{
    display:flex;
    flex-direction: column;
    padding:-1%;
    width: 100%;
}
.main-information button{
    padding:2%;
    width:100%;
}
.seller-container{
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    padding: 3%;
}
.seller-information{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}
.seller-information img{
    width:auto;
    height: 70px;
}
.location-container{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 3%;
}
.buttons .button{
    margin-right: 0px;
    width: 33%;
}.buttons .button {
     margin-right: 0px;
     width: 33%;
 }
#edit{
    background-color: dodgerblue;
    transition: background-color 0.5s;
}
#delete{
    background-color: red;
    transition: background-color 0.5s;
}
#edit:hover{
    background-color: #f2f4f5;
}
#delete:hover{
    background-color: red;
    background-color: #f2f4f5;
}
#callnow{
    width:100%;
}
.button-like{
    color:#f2f4f5;
    background-color: red;
    transition: background-color 0.5s, color 0.5s;
}
.button-like:hover{
    outline-style: solid;
    outline-width: 1px;
    color:red;
    background-color: #f2f4f5;
}
.like-holder{
    display: flex;
    flex-direction: row;
}
#like{
    border-radius: 200px;
    width: 3rem;
}
#con{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.comment-input{
    resize: none;
    background-color: #f2f4f5;
    border-radius: 10px;
    width: 97%;
    font-size: 20px;
    text-align: left;
    height: 5em;
    margin-top:20px;
    padding-left: 1em;
    padding-top: 1em;
}
.sent-button{
    font-size: 20px;
    padding: 0.5em;
    border-radius: 10px;
}

.comment-holder{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.comments{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.comment{
    margin-top:2%;
    padding: 2%;
    background-color: #f2f4f5;
    border-radius: 20px;

}