.home-container{
    background-color: #f2f4f5;
    height: 50rem;
    display:flex;
    justify-content: space-evenly;
}
.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.title{
    width:40rem;
}
.image{
    height:50rem;
}