body{
    width: 100%;
}

*{
    padding:0;
    margin:0;
    border:0;
    font-family: Fantasy;
}
html{
    background-color: #f2f4f5;
}
header{
    background: darkolivegreen;
    font-size: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
nav a{
    font-size: 30px;
}
header nav div{
    display: flex;
    column-gap: 20px;
}